#home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-title,
.home-desc {
  font-weight: bold;
  color: black;
  margin: auto;
}
.home-title {
  font-size: 3em;
}
.home-desc {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.65);
}
