html,
body,
#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a > * {
  color: black !important;
}

* {
  box-sizing: border-box;
}

.page-container {
  width: 50%;
  min-height: 100%;
  padding: 5% 0 ;
  margin: 0 auto ;
}

.page-title {
  font-size: 2em;
  font-weight: bold;
}
.page-desc {
  font-size: 1.3em;
}
